<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header>
        <% include ./partials/header %>
    </header>
    <main>
      <label class="control-label"><h2> Select input file </h2></label>
      <div class="progress hide">
        <div class="progress-bar" role="progressbar"></div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" readonly>
        <label class="input-group-btn">
          <span class="btn  btn-info">
            Browse<input id="input-file" name="input-csv" type="file" style="display: none;">
          </span>
        </label>
        <label class="input-group-btn">
          <input id="payslip" class="btn btn-primary" type="submit" value="Get Payslips">
        </label>
      </div>
      <br>
      <a class="hide" id="output-file"><span class="glyphicon glyphicon-file">
        Download output.csv
      </a>
      <br><br><br><br><br><br><br><br>
    </main>

    <footer>
      <% include ./partials/footer %>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/clientapp.js"></script>
  </body>
</html>